ENV = 'development'

# base api
VUE_APP_BASE_API = '/api'

port = 8090

# This two configs should be uncomment together
#
# If your server needs to be accessible from outside, 
# you need to specify your outer host(domain name)
#host = '4377.myds.me'
API_MODE=1

API_SERVER='http://localhost:9099'
